@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        background-color: #f5f5f5;
    }

    * {
        @apply scrollbar-thin scrollbar-thumb-slate-700 scrollbar-track-transparent scrollbar-thumb-rounded-full scrollbar-track-rounded-full;
        /* @apply scrollbar-thin scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar-thumb-slate-700; */
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply leading-normal;
    }
}